@import "tailwindcss";

@theme {
  --breakpoint-lg: 980px;
  --color-solo-orange: #FD4322;
  --color-solo-gold: #FF7F07;
  --color-solo-blue: #1255FF;
  --color-solo-coral: #EB5038;
  --color-solo-bg: #FFFCFA;
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-roboto);
}